**/*.so
**/*.o
**/*.a
*.Identifier
.vscode/
.vs/
avro/
avro-cpp-1.11.3/
build/
logs/
CMakeFiles/
CMakeCache.txt
CMakeLists.txt
ProcessDataConsumer
ProcessDataConsumer1
lib/
include/spdlog/
